/target
/.pnpm-store
/node_modules
/.moon/cache
/workers/elixir/_build
/workers/elixir/deps
/workers/elixir/beholder-worker-elixir
/workers/typescript/beholder-worker-typescript
/graph-ui/.svelte-kit
/graph-ui/build
/graph-ui/node_modules
/crates/graph-ui/gen
